@model TrainingCourseApp.Models.Trainer
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name Information</h2>
<div>
    @Html.ActionLink("Edit", "Edit", "Trainer", new { id = @Model.Id }, new { @class = "btn btn-primary" })
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Name
    </div>
    <div class="panel-body">
        <p>Age: @Model.Age</p>
        <p>Address: @Model.Address</p>
        <p>Specialty: @Model.Specialty</p>
    </div>
</div>